:focus {
  outline: none;
}
.container-fluid {
  margin-top: 2vh;
}
h1{
  font-weight: 300;
  font-family: 'lato', sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 1.5em;
}
h2{
  font-family: 'lato', sans-serif;
  letter-spacing: .5px;
  font-size: 1.1em;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 5px;
  color:rgb(90, 90, 90);
}
p{
  font-weight: 300;
  color: rgb(90, 90, 90);
}
.title {
  font-weight: 300;
  font-family: 'lato', sans-serif;
  font-size: 2.5em;
  line-height: 1.2em;
}
.nav li a{
  color: rgb(110, 110, 110);
  letter-spacing: 1px;
  line-height: 1.8em;
  font-weight: 300;
}
.nav li a:hover{
  font-weight: 400;
  text-decoration: none;
}
img{
  max-width: 90%;
  max-height: 90%;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgb(245, 244, 244);
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-bloc{
  height: 93vh;
}    
.prev-next{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.prev-next p{
  color: gray;
  cursor: pointer;
}
.prev-next p:hover{
  font-weight: 400;
}
.texte-bloc{
  padding-left: 2em !important;
}
.texte-bloc a{
  color: rgb(90, 90, 90);
}
.texte-bloc a:hover{
  font-weight: 400;
  text-decoration: none;
}
.cv-title{
  margin-top: 25px;
}
.onglet-active{
  font-weight: 400 !important;
}
.galery-link{
  font-weight: 400 !important;
  cursor: pointer;
}
iframe{
  width: 750px;
  height: 450px;
}
@media screen and (max-width:1000px){
  iframe{
    width: 500px;
    height: 350px;
  }
}
@media screen and (max-width:700px){
  iframe{
    width: 100%;
    height: 30vh;
  }
}